.vscode/**
.vscode-test/**
out/test/**
src/**
!src/ui/webview/**
scripts/**
.gitignore
.eslintrc.js
jest.config.js
tsconfig.json
webpack.config.js
**/*.map
.git
.nyc_output
coverage
test-resources
node_modules/**
**/*.vsix
npm-debug.log
**/*.spec.ts
**/*.test.ts
*.tgz
**/*.ts
.env
.env.*
**/.DS_Store
**/node_modules/**
!out/**/*.d.ts
!out/**/*.js
!dist/**
!README.md
!LICENSE
!package.json
!CHANGELOG.md
!resources/**
